@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Yellowtail&display=swap");

.nav {
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;

  height: 12vh;
  align-items: center;
  background: black;
}
.nav > span {
  color: deepskyblue;
  margin-left: 2%;
  font-size: xx-large;
  font-family: Dancing Script;
}

#logo {
  color: rgb(254, 254, 254);
  margin-left: 15%;
}

.links {
  width: 30%;
  margin-right: 2%;
  display: flex;
  justify-content: space-around;
}

.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.link:hover {
  color: deepskyblue;
}
